body {
    font-family: 'Poppins', sans-serif;
}

.model img {
    width: 100%;
    height: 100%;
    object-fit: contain ;
}

.model {
    width: 500px;
    height: 500px;
}

.content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
}

.main-text{
    width: 500px;
}

.nagovor{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    color: #FFB61D;
    line-height: 3rem;
}

.pozdrav {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #000;
    line-height: 1.8rem;
}

.sprehodi-se {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-emphasis: none;
    text-decoration: none;
    color: #FFB61D;
    border-color: #FFB61D;
}

.sprehodi-se:hover {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    text-emphasis: none;
    text-decoration: none;
    color: #fff;
    background-color: #FFB61D;